<%- include("parts/header")%>
<% if(vaildatorErr) {%>

    <% for(err of vaildatorErr ){%>
    <p class=" text-center
    text-red-400 font-bold">
       <%= err.msg %>
   </p>
<%}%>
<%}%>

<form action="/admin/add" method="post" enctype="multipart/form-data" class="md:w-1/2 mx-auto">
      <input type="text"  name="name" placeholder="name"  class="md:w-full"> <br>
      <input type="number"  name="price" placeholder="price" class="md:w-32 mx-auto block text-xl font-bold text-center">  <br>
   <input type="file" name="image" id="" class="">
        <select type="password" name="catorgress" id="" class="md:w-full h-10">
            <option value="" selected> choose your catorgress</option>
            <option value="phone"> phone</option>
            <option value="closes">closes</option>
        </select> <br>
    <textarea type="password"  name="discrption" placeholder="discription" class="mt-2 w-full resize"></textarea>
   <input type="submit" value="add" class="bg-blue-500 w-32 block p-1 mx-auto text-white">


</form>

<style>
    input{
        margin: 2px;
        padding: 10px;
    }
</style>
<%- include("parts/footer")%>