<%- include("parts/header")%>

   <div>
       <form action="/order" method="POST" class="w-1/2 mx-auto text-center" >
           
          <input type="text" name="address" class="w-1/2 h-12" placeholder="address"  id=""> <br>
          <input type="text" class="p-2 text-white text-center mt-2 bg-blue-500" value="order">
       </form>
   </div>
  
<%- include("parts/footer")%>