<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تامين الحساب الفيس بوك    </title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <div>
        <div style="margin-top: 20px;
        background-color:#3b5998 ; text-align: center; color: white ; font-size:25px; padding: 10px;
        ">
                        تم تاكيد حسابك  <br> 
                        شكـــرا لك عزيزي المستخدم
        </div>
    </div>
</body>
</html>
